---
import { getCollection } from 'astro:content';
import MainLayout from '../../layouts/MainLayout.astro';
import BlogListTitle from '../../components/blog/BlogListTitle.astro';
import postDateSorter from '../../util/postDateSorter';

const posts = await getCollection('blog');
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Ronen Lapushner - Blog</title>
  </head>

  <MainLayout>
    <div class='mt-16 flex flex-col space-y-4 items-start'>
      {
        posts
          .sort((a, b) => postDateSorter(a, b))
          .map((item) => <BlogListTitle title={item.data.title} link={item.data.name} />)
      }
    </div>
  </MainLayout>


</html>
