---
import AboutMe from '../components/AboutMe.astro';
import NavBar from '../components/NavBar.astro';
import MainLayout from '../layouts/MainLayout.astro';
---

<script>
  import { inject } from '@vercel/analytics';

  inject();
</script>

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Ronen Lapushner</title>
  </head>

  <MainLayout>
    <div class='flex flex-col md:items-center'>
      <div class='pt-48'>
        <AboutMe />
      </div>

      <div class='pt-16 md:pt-48 w-fit'>
        <NavBar />
      </div>
    </div>
  </MainLayout>


</html>
