---
const getSubTitle = () => {
  const SUBTITLES = [
    'I just like to draw pretty things on screen.',
    'I am a fullstack developer passionate about web development.',
  ];
  const randomIndex = Math.floor(Math.random() * SUBTITLES.length);

  return SUBTITLES[randomIndex];
};
---

<div class='flex flex-col md:items-center'>
  <div class='flex flex-col sm:flex-row items-baseline'>
    <span class='text-9xl items-baseline'>Hi.</span>
    <span class='text-4xl sm:text-6xl sm:pl-2 md:pl-4'>I'm Ronen.</span>
  </div>

  <div class='text-lg sm:text-2xl text-zurich-gray mt-2'>
    {getSubTitle()}
  </div>
</div>
