---
import Header from '../components/Header.astro';
import BaseHead from '../components/BaseHead.astro';
---

<script>
  import { inject } from '@vercel/analytics';

  inject();
</script>

<html>
  <BaseHead title={'Ronen Lapushner'} description={"Ronen's Website and Blog"} />
  <body class='p-8 dark:bg-zurich-dark-background dark:text-white'>
    <Header />
    <slot />
  </body>
</html>
